<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>
  <body>
    <h1>Posts</h1>
    <ul>
      <% posts.forEach(post => { %>
      <li><strong><%= post.title %></strong><br /><%= post.body %></li>
      <% }) %>
    </ul>
    <%- include('./partials/footer') %>
  </body>
</html>
