<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>
  <body>
    <h1 class="text-2xl bg-blue-700">Posts</h1>
    <ul>
      <% posts.forEach(post => { %>
      <li class="mb-8"><%= post['title'] %></li>
      <br />
      <li><%= post['body'] %></li>
      <% }) %>
    </ul>
    <%- include('./partials/footer') %>
  </body>
</html>
