<!DOCTYPE html>
<html>
  <head>
    <title>New User</title>
  </head>
  <body>
    <h1>Add New User</h1>
    <form action="/users" method="POST">
      <input type="text" name="name" placeholder="Name" required />
      <input type="file" name="email" placeholder="Email" required />
      <button type="submit">Create</button>
    </form>
    <a href="/users">Back</a>
  </body>
</html>
